/** @format */

.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-content {
  font-size: 14px;
}
.cardcontent {
  display: flex;
  justify-content: space-between;
}

.card1 {
  background-color: green;
  border-radius: 5px;
}

.card2 {
  background-color: yellow;
  border-radius: 5px;
}

.card3 {
  background-color: blue;
  border-radius: 5px;
}
.card4 {
  background-color: red;
  border-radius: 5px;
}

.recent-job-sales {
  margin-top: 20px;
}

.recent-job-sales h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.job-sales-table {
  width: 100%;
  border-collapse: collapse;
}

.job-sales-table th,
.job-sales-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.job-sales-table th {
  background-color: #f0f0f0;
}
.recent-job-sales {
  margin-top: 20px;
}

.recent-job-sales h2 {
  font-size: large;
}
